.main_parent{
  background-color: #1B1919;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  min-height: 100vh;
}

h1{
  margin: 0px;
}
h2{
  margin: 0px;
}
h3{
  margin: 0px;
}

p{
  margin: 0px;
}

.nav_links{
  cursor: pointer;
}

.nav_mobile_container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hidden_menu{
  display: none;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 4rem;
}

.left_navbar{
  height: auto;
  display: flex;
  justify-content: end;
  align-items: end;
}

.right_navbar{
  display: flex;
  align-items: center;
  gap: 1.4rem;
  padding: 0rem 0rem;
}

.comp_text{
  padding: .3rem 0rem;
  line-height: 1;
  font-size: 1.8rem;
  cursor: pointer;
}

#dot{
  color: #FAAF3D;
  font-size: 5rem;
}

.content_header_text{
  font-size: 72px;
  color: transparent;
  background: -webkit-linear-gradient(#FFFFFF, #FAAF3E);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
}

.content_container{
  padding: 0rem 7rem;
  display: flex;
  flex-direction: column;
  gap: .3rem;
  /* min-height: 100vh; */
}

.tag_container{
  display: flex;
  padding: 1rem 0rem;
  flex-wrap: wrap;
  gap: .7rem;
}

.tag{
  border: .1rem solid white;
  padding: .3rem .4rem;
  border-radius: .3rem;
  background-color: #1B1919;
  cursor: pointer;
  user-select: none;
}

.tag:hover{
  background-color: white;
  color: black;
}

.forum_container{
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.question_tag{
  color: #BDBCBC;
}

.question{
  color: white;
  font-size: 1.1rem;
}

.tags_container_list{
  display: flex;
  gap: .9rem;
  font-size: .9rem;
}

.pagnition_container{
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1rem;
  padding: 1.3rem 0rem;
  user-select: none;
}

#next_button_pagnition{
  background-color: #FAAF3D;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  cursor: pointer;
}

#pagnition_number_button{
  border: .1rem solid #ffffff;
}

.pagnition_button{
  text-align: center;
  vertical-align: middle;

  border-radius: .3rem;
  border: .1rem solid #FAAF3D;
  padding: .2rem .6rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.pagination_controls{
  display: flex;
  gap: .8rem;
  justify-content: end;
}

#data_text{
  text-align: center;
  user-select: none;
}

.footer_container{
  width: auto;
  padding: 2rem 0rem;
  background-color: #181616;
}

.footer_top{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
}

.react_icon_group{
  font-size: 3rem;
}

.footer_mid{
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: center;
  justify-content: space-between;
}

.footer_right{
  display: flex;
  gap: .7rem;
  flex-wrap: wrap;
}

.footer_left{
  display: flex;
  justify-content: center;
  align-items: center;
}

#dribble{
  color: rgb(255, 105, 150);
}

#behance{
  color: rgb(0, 119, 255);
}

#linkedin{
  color: rgb(0, 159, 252);
}

#facebook{
  color: rgb(36, 69, 138);
}

.horizontal-line {
  width: 40%;
  height: 2px; /* Adjust the height of the line as needed */
  position: relative;
}

.horizontal-line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #b8b8b8, #ffffff00); /* Adjust colors as needed */
}

.hr-line{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0rem;
}

.footer_bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 0rem;
}

.tag.selected {
  background-color: white;
  color: black;
}

.dropdown_container{
  display: none;
}

@media only screen and (max-width: 700px) {
  .content_container{
    padding: 1rem;
  }

  .navbar{
    padding: 0rem;
  }

  .right_navbar{
    display: none;
  }

  .comp_text{
    padding: 0rem 1rem;
  }

  .hidden_menu{
    display: flex;
    align-items: center;
    padding: 0rem 2rem;
  }

  .close_button_icon{
    font-size: 2rem;
    cursor: pointer;
  }

  .dropdown_container{
    display: block;
    position: relative;
    text-align: center;
    padding: 1.3rem 0rem;
    animation: swoop .18s ease-in 0s 1 forwards;
  }

  .nav_mobile_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .comp_text{
    padding: 0rem 1rem;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .navbar{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav_links{
    cursor: pointer;
    font-size: 1.3rem;
  }

  .footer_container{
    display: flex;
    flex-direction: column;
  }

  .footer_top{
    flex-direction: column;
  }

  .react_icon_group{
    font-size: 1.5rem;
  }
}

@keyframes swoop {
  0%{
    top: -100px;
    opacity: 0;
  }
  20%{
    top: -80px;
    opacity: 0;
  }
  40%{
    top: -60px;
    opacity: 0;
  }
  60%{
    top: -40px;
    opacity: 0;
  }
  80%{
    top: -20px;
    opacity: 0.8;
  }
  100%{
    top: 0px;
    opacity: 1;
  }
}