.inset_shadow{
  box-shadow: 0px 0px .5rem rgba(255, 255, 255, 0.26) inset;
  border-radius: .4rem;
  padding: 0rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.input_field{
  color: white;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.329);
}

.hover_button{
  color: white;
  transition: 100ms;
}

.hover_button:hover{
  transform: scale(1.4);
  transition: 100ms;
}